/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input,
textarea,
button {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

/* Apply box-sizing to all elements */

{
box-sizing: border-box;
}
/* Remove list styles */
ul,
ol {
list-style: none;
}

/* Remove anchor text decoration */
a {
text-decoration: none;
}